# {{ ansible_managed }}

{% if fluentd_forward %}
<source>
  @type forward
  port {{fluentd_forward_port}}
  bind 0.0.0.0
</source>
{% endif %}

{% for file in cycloid_files_watched %}
<source>
  @type tail
  tag cycloid.{{file.name}}
  path {{file.path}}
  pos_file /var/log/td-agent/cycloid.{{file.name}}.pos
{% if file.format is defined %}
format {{file.format}}
{% else %}
format none
{% endif %}
</source>
{% endfor %}

{% for file in cycloid_system_files_watched %}
<source>
  @type tail
  tag cycloid.{{file.name}}
  path {{file.path}}
  pos_file /var/log/td-agent/cycloid.{{file.name}}.pos
{% if file.format is defined %}
format {{file.format}}
{% else %}
format none
{% endif %}
</source>
{% endfor %}

{% if fluentd_metrics %}
# expose metrics in prometheus format
<source>
  @type prometheus
  bind 0.0.0.0
  port {{fluentd_prometheus_port}}
  metrics_path /metrics
</source>
<source>
  @type prometheus_output_monitor
  interval 10
  <labels>
    hostname ${hostname}
  </labels>
</source>
{% endif %}
